@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 767px) { @content; }
    }
    @else if $class == sm {
        @media (min-width: 768px) { @content; }
    }
    @else if $class == md {
        @media (min-width: 992px) { @content; }
    }
    @else if $class == lg {
        @media (min-width: 1200px) { @content; }
    }
    @else {
        @warn 'Breakpoint mixin supports: xs, sm, md, lg';
    }
}

// Vertical Center
@mixin vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// Horizontal Center
@mixin horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// Create CSS Circle
@mixin create-circle($size, $background) {
    content: '';
    position: absolute;
    left: -($size / 2);
    width: $size;
    height: $size;
    background: $background;
    border-radius: 50%;
}
